<!DOCTYPE html>
<html>
    <head>
        <title>Football news</title>
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">  

        <script>

            function getArticle() {

                let queryString = window.location.search;
                let urlParams = new URLSearchParams(queryString);
                let articleUrl = urlParams.get("url")
       
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {

                    let articleContainer = document.getElementById("article-container");

                    if (this.readyState == 4 && this.status == 200) {
                        // Typical action to be performed when the document is ready:
                        
                        let article = JSON.parse(this.response)

                        console.log(article)
                        articleContainer.innerHTML = ""

                        html = '<div class="article-container">';
                        html += '<h3 class="text-enter  mt-4"><a href='+decodeURI(articleUrl)+'>' + article.title + '</a></h3>';
                        html += '<div class="text-center p-5"><img src= ' + article.image + ' class="img-thumbnail"></div>';
                        html += '<p>' + article.text + '</p>';                        
                        html += '</div> <hr>';
                        
                        articleContainer.innerHTML += html
                    } else if(this.status == 500) {
                        console.log(this.status)
                        articleContainer.innerHTML = '<h3 class="text-enter  mt-4"> Article not found </h3>';
                    }
                };

                xhttp.open("GET", "http://localhost:5003/news/article?url=" + articleUrl, true);
                xhttp.setRequestHeader('Access-Control-Allow-Origin', '*'); 
                xhttp.setRequestHeader('Access-Control-Allow-Methods', 'GET, PUT, POST, DELETE, OPTIONS');
                xhttp.setRequestHeader('Access-Control-Allow-Headers', 'Content-Type, Authorization, X-Requested-With')
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send(null)

            }

        </script>

    </head>
    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal">Football teams</h5>
            <nav class="my-2 my-md-0 mr-md-3">
              <a class="p-2 text-dark" href="#">Features</a>
              <a class="p-2 text-dark" href="#">Enterprise</a>
              <a class="p-2 text-dark" href="#">Supporta</a>
              <a class="p-2 text-dark" href="#">Pricing</a>
            </nav>
            <a class="btn btn-outline-primary" href="#">Sign up</a>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div id="article-container"></div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <script>
                window.onload = (event) => {
                getArticle();
            };
        </script>

    </body>
</html>