<!DOCTYPE html>
<html>
    <head>
        <title>Football matches</title>
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">  

    </head>
    <body>

        <div class="container">
            <h2>Home page</h2>

            
            <a href="/login" class="btn btn-primary btn-lg btn-block">Login</a>
            <a href="/registration" class="btn btn-primary btn-lg btn-block">Registration</a>

        </div>

    </body>
</html>