<script>
  function logout() {
    var allCookies = document.cookie.split(';'); 
    
    for (var i = 0; i < allCookies.length; i++){   // set the expiration date to 01/01/
        document.cookie = allCookies[i] + "=;expires=" + new Date(0).toUTCString(); 
    }
  }
</script>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Football teams</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="/manageTeams">My Teams</a>
      <a class="p-2 text-dark" href="/footballFixtures">Next Matches</a>
      <a class="p-2 text-dark" href="/news">News</a>
    </nav>           
    <a class="btn btn-danger" onclick="logout()">Log out</a>
</div>