<!DOCTYPE html>
<html>
    <head>
        <title>Football news</title>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

        <script>

            function searchNews() {
                var searchText = document.getElementById("search-text").value;

                if (searchText.trim() != "") {
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function() {
                        if (this.readyState == 4 && this.status == 200) {
                            // Typical action to be performed when the document is ready:
                            let newsContainer = document.getElementById("news-container");
                            let news = JSON.parse(this.response)
                            newsContainer.innerHTML = ""
                            for (articleId in news) {
                                let article = news[articleId]
                                newsContainer.innerHTML += renderArticleMiniature(article)
                            }                         

                        }
                    };

                    xhttp.open("GET", "http://localhost:5003/news?search=" + encodeURIComponent(searchText), true);
                    xhttp.setRequestHeader('Access-Control-Allow-Origin', '*'); 
                    xhttp.setRequestHeader('Access-Control-Allow-Methods', 'GET, PUT, POST, DELETE, OPTIONS');
                    xhttp.setRequestHeader('Access-Control-Allow-Headers', 'Content-Type, Authorization, X-Requested-With')
                    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    xhttp.send(null)
                } 
                else 
                {
                    getNews()
                }
            }

            function getNews() {
       
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        // Typical action to be performed when the document is ready:
                        let newsContainer = document.getElementById("news-container");
                        let news = JSON.parse(this.response)

                        newsContainer.innerHTML = ""

                        for (feedId in news) {

                            newsContainer.innerHTML +='<h3 class="mt-5 mb-4  text-center">' + news[feedId].feed_title + '</h3>'
                            for (articleId in news[feedId].entries) {
                                let article = news[feedId].entries[articleId]
                                newsContainer.innerHTML += renderArticleMiniature(article)
                            }
                        }

                    } 
                };

                xhttp.open("GET", "http://localhost:5003/news", true);
                xhttp.setRequestHeader('Access-Control-Allow-Origin', '*'); 
                xhttp.setRequestHeader('Access-Control-Allow-Methods', 'GET, PUT, POST, DELETE, OPTIONS');
                xhttp.setRequestHeader('Access-Control-Allow-Headers', 'Content-Type, Authorization, X-Requested-With')
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send(null)

            }

            function renderArticleMiniature(article) {

                html = '<div class="article-row">';
                html += '<h4 class="mt-4"><a href="" data-toggle="modal" data-target="#article-modal" onclick="openArticleModal(\''+encodeURIComponent(article.link)+'\')">' + article.title + '</a></h4>';
                html += '<p>' + article.summary + '</p>';
                html += '<img src= ' + article.media_content + ' class="img-thumbnail">';
                html += '<button data-toggle="modal" data-target="#article-modal" onclick="openArticleModal(\''+encodeURIComponent(article.link)+'\')" type="button" class="btn btn-success mt-3 mx-2">Read article</button>'
                html += '<a type="button" href="' + article.link + '" class="btn btn-primary mt-3 mx-2")">Original article</a>'
                html += '</div> <hr>';

                return html
            }

            function openArticleModal(articleUrl) {

                var modalTitle = document.getElementById('article-modal-title');
                var modalContent = document.getElementById('article-modal-content')

                modalTitle.innerHTML = "Loading"
                modalContent.innerHTML = ""

                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {

                    let articleContainer = document.getElementById("article-container");

                    if (this.readyState == 4 && this.status == 200) {
                        // Typical action to be performed when the document is ready:
                        
                        let article = JSON.parse(this.response)

                        

                        modalTitle.innerHTML = article.title;
                        modalContent.innerHTML = '<div class="text-center p-3"><img src= ' + article.image + ' class="img-thumbnail"></div>';
                        modalContent.innerHTML += '<p>' + article.text + '</p>'
            

                    } else if(this.status == 500) {
                        console.log(this.status)
                        articleContainer.innerHTML = '<h3 class="text-enter  mt-4"> Article not found </h3>';
                    }
                };

                xhttp.open("GET", "http://localhost:5003/news/article?url=" + articleUrl, true);
                xhttp.setRequestHeader('Access-Control-Allow-Origin', '*'); 
                xhttp.setRequestHeader('Access-Control-Allow-Methods', 'GET, PUT, POST, DELETE, OPTIONS');
                xhttp.setRequestHeader('Access-Control-Allow-Headers', 'Content-Type, Authorization, X-Requested-With')
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send(null)

            }

        </script>
    </head>
    <body>
        <!-- Nav Bar -->
        {% include "navbar.html" %}

        <div class="modal fade" id="article-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h5 class="modal-title w-100" id="article-modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="article-modal-content">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            
            
         
            <div class="row">
                <div class="col-sm-2">                   
                </div>
                <div class="col-sm-8">
                    <h2 class="display-4 mb-4 text-center">Football News</h2>
                    <hr />
                    <div class="form-inline justify-content-center">
                        <input class="form-control mr-sm-2" id="search-text" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0 mr-2" onclick="searchNews()">Search</button>
                    </div>
                    <hr>
                    <div id="news-container"></div>

                </div>
                <div class="col-sm-2"></div>

            </div>
        </div>
      
        
        <!-- article modal -->
       
        <script>

            window.onload = (event) => {
                console.log("page is fully loaded");
                getNews();
            };
        </script>

    </body>
</html>